<div ng-include="'components/navbar_kik/navbar.html'"></div>
<div class="col-md-12">
  <form>
    <div class="form-group">
      <label>Info: </label><input type="text" class="form-control" id="info" ng-model="mentor.info"></input>
      <input type="hidden" id="active" ng-model="mentor.active"></input>
      <input type="hidden" id="username" ng-model="mentor.username"></input>
      <label>Tags: </label><input type="text" class="form-control" id="tags"  ng-model="mentor.tags"></input>
      <input type="button" ng-click="addMentor(mentor)" value="Make Me a Mentor!">
    </div>
  </form>
</div>
