<div ng-include="'components/navbar_kik/navbar.html'"></div>
<div class="col-md-12">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="5" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  <form>
    <!-- add stuff for prepopulating info if they're already a mentor -->
    <!-- Also, sub out the submit from add to update -->
    <div class="form-group">
      <img class="thumb" ng-src="http://{{mentor.thumbnail}}">
      <label>Username: </label><input type="text" class="form-control" ng-model="mentor.username" ng-disabled="true"></input>
      <label>Full Name: </label><input type="text" class="form-control" ng-model="mentor.fullName" ng-disabled="true"></input>
      <label>Info: </label><input type="text" class="form-control" id="info" ng-model="mentor.info"></input>
      <label>Tags: </label><input type="text" class="form-control" id="tags"  ng-model="mentor.tags"></input>
      <input type="button" ng-hide="{{!mentor.alreadyExists}}" ng-click="addMentor()" value="Make Me a Mentor!">
      <input type="button" ng-hide="{{mentor.alreadyExists}}" ng-click="updateMentor()" value="Make Me a Better Mentor!">
    </div>
  </form>
</div>
