.banner {
  background-color: #222232;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
}

.web-front-button-div {
  display: inline;
}

.web-front-button {
  font-weight: bold;
  width: 100%;
}

.button-row {
  margin-top: 10px;
}
