.tag_list_item {
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  color: white;
  display: inline-block;
}

.tag_list {
  display: inline-block;
}

.mentor_list_item {
  margin: 5px;
  padding: 5px;
  list-style: none;
  display: inline-block;
  max-width: 120px;
}

.mentor_list_item a {
  color: black;
}

.mentor_image {
   width: 80px;
   height: 80px;
   margin: auto;
}
